<div id="content">
  <div id="feed">

    <div class="header-table wide">
      <h2 md-dialog-title class="notice">Feed To Re-Post</h2>
    </div>
    
    <md-list>
      <md-list-item>
        <md-input-container class="wide">
          <input md-input type="date" [(ngModel)]="after" name="after" placeholder="After This Date">
        </md-input-container>
        <md-input-container class="wide">
          <input md-input type="date" [(ngModel)]="before" name="before" placeholder="Before This Date">
        </md-input-container>
        <button md-mini-fab (click)="start()" title="Start Feed Repost">
          <md-icon>backup</md-icon>
        </button>
        <button md-mini-fab (click)="preload()" title="Refresh Feed">
          <md-icon>refresh</md-icon>
        </button>
        <md-checkbox class="checkbox-solo" checked="checked" (click)="toggleMedia();"></md-checkbox>
      </md-list-item>
    </md-list>
    <md-list *ngIf="feed && feed.length > 0">
      <md-list-item *ngFor="let post of feed; let i = index;">
        <img md-list-avatar [src]="post.image">
        <h3 md-line>{{ post.title }}</h3>
        <p md-line>
          <span><a [href]="post.link" target="_BLANK">{{ post.link }}</a></span>
        </p>
        <p md-line>{{ post.date | date:'medium' }}</p>
        <md-checkbox checked="checked" [(ngModel)]="post.include"></md-checkbox>
      </md-list-item>
    </md-list>
    
  </div>
</div>