<div id="content">
  <div id="feed">
    <table class="header-table wide">
    <tr>
    <td>
      <h2 md-dialog-title class="notice">Feed To Re-Post</h2>
    </td>
    <td>
      <button md-mini-fab (click)="start()" title="Start Feed Repost">
        <md-icon>backup</md-icon>
      </button>
    </td>
    </tr>
    </table>

    <md-list *ngIf="feed && feed.length > 0">
      <md-list-item *ngFor="let post of feed; let i = index;">
        <img md-list-avatar [src]="post.image">
        <h3 md-line>{{ post.title }}</h3>
        <p md-line>
          <span><a [href]="post.link" target="_BLANK">{{ post.link }}</a></span>
        </p>
        <p md-line>{{ post.date | date:'medium' }}</p>
      </md-list-item>
    </md-list>

    <!--
    <div *ngIf="rssFeed && processing">
      <md-progress-bar class="progress-bar" [attr.color]="processColor" mode="determinate" [value]="processProgress">
      </md-progress-bar>
      <md-list class="log-items">
        <md-list-item *ngFor="let logItem of processLog">
          <h3 [ngClass]="logItem.classes" md-line>{{logItem.message}}</h3>
        </md-list-item>
      </md-list>
    </div>
    !-->
    
  </div>
</div>